<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='Main.css') }}">
    <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
    <script>
        $(function() {
            $('#upload').click(function() {
                event.preventDefault();
                var form_data = new FormData($('#upload_file')[0]);
                //$("#file_status").text('Upload Successful');
                var fileList = document.getElementById("file_dat").files; /* now you can work with the file list */
                var reader = new FileReader();
                reader.onload = function(){
                     var dataText = reader.result.substring(reader.result.indexOf("@data") + 7);
                     var data = dataText.split(",");
                     //$("#file_status").text(dataText);
                     //document.write(reader.result.substring(0, 200))
                     for (i = 0; i < 8; i++) {
                         if(i == 2,3) {
                             if (data[i] == "normal") {
                                 document.getElementsByName("f" + (i + 1) + "")[0].selectedIndex = "0";
                             }
                             else if (data[i] == "abnormal") {
                                 document.getElementsByName("f" + (i + 1) + "")[0].selectedIndex = "1";
                             }
                             else {
                                 document.getElementsByName("f" + (i + 1) + "")[0].selectedIndex = "2";
                             }
                         }
                         if(i == 6,7){
                             if (data[i] == "yes") {
                                 document.getElementsByName("f" + (i + 1) + "")[0].selectedIndex = "0";
                             }
                             else if (data[i] == "no") {
                                 document.getElementsByName("f" + (i + 1) + "")[0].selectedIndex = "1";
                             }
                             else {
                                 document.getElementsByName("f" + (i + 1) + "")[0].selectedIndex = "2";
                             }
                         }
                         if(i == 4,5){
                             document.getElementsByName("f" + (i + 1) + "")[0].value = data[i];
                         }
                         if(i == 1){
                             if (data[i] == "?") {
                                 data[i] = "6";
                             }
                             document.getElementsByName("f" + (i + 1) + "")[0].selectedIndex = parseInt(data[i]);
                         }
                         if(i == 0){
                             if (data[i] == "1.005") {
                                 document.getElementsByName("f" + (i + 1) + "")[0].selectedIndex = "0";
                             }
                             if (data[i] == "1.010") {
                                 document.getElementsByName("f" + (i + 1) + "")[0].selectedIndex = "1";
                             }
                             if (data[i] == "1.015") {
                                 document.getElementsByName("f" + (i + 1) + "")[0].selectedIndex = "2";
                             }
                             if (data[i] == "1.020") {
                                 document.getElementsByName("f" + (i + 1) + "")[0].selectedIndex = "3";
                             }
                             if (data[i] == "1.025") {
                                 document.getElementsByName("f" + (i + 1) + "")[0].selectedIndex = "4";
                             }
                             else {
                                 document.getElementsByName("f" + (i + 1) + "")[0].selectedIndex = "5";
                             }
                         }
                     }
                };
                reader.readAsText(fileList[0]);
            });
        });

        $(function() {
            $('#calculate').click(function() {
                event.preventDefault();
                var data_str = '';
                for (var j = 0; j < 8; j++) {
                             data_str = data_str + document.getElementsByName("f" + (j + 1) + "")[0].value;
                         if (j != 7){
                             data_str = data_str + ',';
                         }
                     }
                //$("#file_status").text(data_str);
                $.ajax({
                    type: 'POST',
                    url: '/upload_file',
                    data: data_str,
                    tType: false,
                    processData: false,
                    success: function (data) {
                        $("#result").text(data);
                    },
                });

            });
        });
    </script>
    <script type=text/javascript src="{{url_for('static', filename='Main.js') }}"></script>
    <meta charset="UTF-8">
    <title>Prototype</title>
</head>
<body onload="run()">
<div>
    <h1>Chronic Kidney Disease Predictor</h1>
    <button id='HomeButton' type="button" onclick="Home_function()">Home</button><button id = 'AboutButton' type="button" onclick="About_function()">About</button>
</div>


<div id="About">

</div>
<div id="Home">
        <div>
            <form id="upload_file">
                 <input type="file" name = "file" id="file_dat"/>
                 <input type = "submit" id="upload" value="Upload File"/>
              </form>
            <p><span id="file_status"></span></p>
            <br><br>
        </div>
        <div>

            <table style="width:100%">
                <tr>
                    <th>
                        Specific gravity<br>
                        <select name="f1">
                          <option value="1.005">1.005</option>
                          <option value="1.010">1.010</option>
                          <option value="1.015">1.015</option>
                          <option value="1.020">1.020</option>
                          <option value="1.025">1.025</option>
                          <option value="?">?</option>
                        </select>
                    </th>
                    <th>
                        Albumin<br>
                        <select name="f2">
                          <option value="0">0</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="?">?</option>
                        </select>
                    </th>
                    <th>
                        Red blood cells<br>
                        <select name="f3">
                          <option value="normal">normal</option>
                          <option value="abnormal">abnormal</option>
                          <option value="?">?</option>
                        </select>
                    </th>
                    <th>
                        Pus Cell<br>
                        <select name="f4">
                          <option value="normal">normal</option>
                          <option value="abnormal">abnormal</option>
                          <option value="?">?</option>
                        </select>
                    </th>
                    <th>
                        Hemoglobin<br>
                        <input type="text" name="f5" size="7" value="gms">
                    </th>
                    <th>
                        Packed Cell Volume<br>
                        <input type="text" name="f6" size="7" value="numerical">
                    </th>
                    <th>
                        Hypertension<br>
                        <select name="f7">
                          <option value="yes">Yes</option>
                          <option value="no">No</option>
                          <option value="?">?</option>
                        </select>
                    </th>
                    <th>
                        Diabetes Mellitus<br>
                        <select name="f8">
                          <option value="yes">Yes</option>
                          <option value="no">No</option>
                          <option value="?">?</option>
                        </select>
                    </th>
                </tr>
            </table>
        </div>
        <br><br><br><br>
        <button id="calculate" type="button">Calculate</button>
        <p><span id="result"></span></p>
    </div>
</body>
</html>