<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='Main.css') }}">
    <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
    <script>
        $(function() {
            $('#upload').click(function() {
                event.preventDefault();
                var form_data = new FormData($('#upload_file')[0]);
                //$("#file_status").text('Upload Successful');
                var fileList = document.getElementById("file_dat").files; /* now you can work with the file list */
                var reader = new FileReader();
                reader.onload = function(){
                     var dataText = reader.result.substring(reader.result.indexOf("@data") + 7);
                     var data = dataText.split(",");
                     //$("#file_status").text(dataText);
                     //document.write(reader.result.substring(0, 200))
                     for (i = 0; i < 8; i++) {
                         document.getElementsByName("f" + (i + 1) + "")[0].value = data[i];
                     }
                };
                reader.readAsText(fileList[0]);
            });
        });

        $(function() {
            $('#calculate').click(function() {
                event.preventDefault();
                var data_str = '';
                for (var j = 0; j < 8; j++) {
                         data_str = data_str + document.getElementsByName("f" + (j + 1) + "")[0].value;
                         if (j != 7){
                             data_str = data_str + ',';
                         }
                     }
                //$("#file_status").text(data_str);
                $.ajax({
                    type: 'POST',
                    url: '/upload_file',
                    data: data_str,
                    tType: false,
                    processData: false,
                    success: function (data) {
                        $("#result").text(data);
                    },
                });

            });
        });
    </script>
    <script type=text/javascript src="{{url_for('static', filename='Main.js') }}"></script>
    <meta charset="UTF-8">
    <title>Prototype</title>
</head>
<body onload="run()">
<div>
    <h1>Chronic Kidney Disease Predictor</h1>
    <button id='Selection' type="button" onclick="Home_function()">Home</button><button type="button" onclick="About_function()">About</button>
</div>
<div id="About">

</div>
<div id="Home">
        <div>
            <form id="upload_file">
                 <input type="file" name = "file" id="file_dat"/>
                 <input type = "submit" id="upload" value="Upload File"/>
              </form>
            <p><span id="file_status"></span></p>
            <br><br>
        </div>
        <div>

            <table style="width:100%">
                <tr>
                    <th>
                        Specific gravity<br>
                        <input type="text" name="f1" size="7" value="Ex. 1.015">
                    </th>
                    <th>
                        Albumin<br>
                        <input type="text" name="f2" size="7" value="Val. 1-5">
                    </th>
                    <th>
                        Red blood cells<br>
                        <input type="text" name="f3" size="7" value="normal/abnormal">
                    </th>
                    <th>
                        Pus Cell<br>
                        <input type="text" name="f4" size="7" value="normal/abnormal">
                    </th>
                    <th>
                        Hemoglobin<br>
                        <input type="text" name="f5" size="7" value="gms">
                    </th>
                    <th>
                        Packed Cell Volume<br>
                        <input type="text" name="f6" size="7" value="numerical">
                    </th>
                    <th>
                        Hypertension<br>
                        <input type="text" name="f7" size="7" value="yes/no">
                    </th>
                    <th>
                        Diabetes Mellitus<br>
                        <input type="text" name="f8" size="7" value="yes/no">
                    </th>
                </tr>
            </table>
        </div>
        <br><br><br><br>
        <button id="calculate" type="button">Calculate</button>
        <p><span id="result"></span></p>
    </div>
</body>
</html>